{% extends "base.html" %}

{% block content %}

    <button id="BitCoinButton">Check bitcoin prices</button>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="bitcoin"></div>
    <button id='weather_buttin'>Get the weather!</button>
    <div id='weather_results'></div>

{% endblock %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'bitcoin.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'weather.js') }}"></script>

{% endblock %}